
  html {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.3rem;
  }

  header img {
    margin: 0 auto;
    max-width: 20vh;
    display: block;
  }

  header .intro {
    margin: 0 auto;
    max-width: 80%;
  }

  section {
    padding: 1em 2em;
  }

  section a {
    font-weight: bold;
    color: black;
  }

  code {
    display: block;
    max-width: 50%;
    max-height: 30em;
    margin: 0 auto;
    overflow: scroll;
    padding: 1em 2em;
    font-family: monospace;
    text-align: left;
    font-weight: normal;
    white-space: pre;
    background-color: #222;
    color: #eee;
    border-radius: 0.5em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 2em;
    display: inline-block;
  }

  li a {
    display: block;
    width: 3rem;
    height: 3rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .heart a {
    background-image: url(heart.png);
  }

  .cross a {
    background-image: url(cross.png);
  }
